.wrapper{
    background-color: rgb(218, 250, 236);
    max-width: 350px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    font-size: 5vh;
    color: white;
    box-shadow: 3px 3px black;
}
.btn:hover{
    box-shadow: none;
    background-color: rgb(196, 189, 189);
    color: black;
}
.b-operate{
    background-color: rgb(117, 124, 128);
}
.b-digits{
    background-color: rgb(75, 85, 83);
}
.b-action{
    background-color: rgb(39, 42, 43);
}

.author{
    font-family: cursive;
}

@media screen and (max-width: 370px) {
    body{
        padding: 2vh;
    }
    .btn{
        font-size: 4vh;
    }
}